@import 'select';
@import 'datetime_picker';

$screen-xs-min: 400px;
$screen-xxs-max: ($screen-xs-min - 1);
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1600px;
$screen-lg-max: ($screen-xl-min - 1);

$columns: 12;

$default-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
$bigger-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$small-border: 1px solid rgba(0, 0, 0, 0.2);

%column{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
@media (min-width: $screen-sm-min){
	%column{
		float: left;
	}
}
@media (min-width: $screen-xl-min){
	@for $i from 1 through $columns{
		.col-xl-#{$i}{
			width: 100%*$i/$columns;
		}
	}
}

@for $i from 1 through 12{
	.col-xl-#{$i}{
		@extend %column;
	}
}
@media (max-width: $screen-xxs-max){
	@for $i from 1 through $columns{
		.col-xxs-#{$i}{
			width: 100%*$i/$columns;
		}
	}
}
%col{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}


@for $i from 1 through 12{
	.col-xxs-#{$i}{
		@extend %col;
	}
}

%tab{
	box-shadow: $default-box-shadow;
	text-align: center;
	padding: 15px;
	font-weight: bold;
	background: white;
	&[data-selected="true"]{
		box-shadow: none;
		background: #EEE;
		border-bottom: 2px solid #3097D1;
	}
	&[data-selected="true"]:hover{
		box-shadow: inherit;
		cursor: inherit;
	}
	&:hover{
		box-shadow: $bigger-box-shadow;
		cursor: pointer;
	}
}

@for $i from 1 through $columns{
	.tab-#{$i}{
		width: 100%*$i/$columns;
		float: left;
	}
}

@for $i from 1 through 12{
	.tab-#{$i}{
		@extend %tab;
	}
}

.tabs{
	margin: -10px;
	margin-bottom: 20px;
}

.user-link{
	font-weight: bold;
}

*{
    touch-action: pan-y;
}
body{
	background: #EEE;
	overflow-x: hidden;
}
.img-circle{
	border-radius: 50%;
}
.clear{
	clear: both;
}
.container-width{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: $screen-sm-min) { width: 750px; }
	@media (min-width: $screen-md-min) { width: 970px; }
	@media (min-width: $screen-lg-min) { width: 1170px; }
}
.container-small{
	@media (min-width: $screen-sm-min) {
		width: 750px;		
	}
}
@media (max-width: $screen-sm-max) {
	.container-sm-full{
		width: 100%;
	}
}
.big-btn{
	box-shadow: $default-box-shadow;
	background-color: white;
	border: 0;
	font-size: 2.5em;
	font-weight: bold;
	width: 100%;
}
.btn-full{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.inner-box{
	position: relative;
	box-shadow: $default-box-shadow;
	background-color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	h3{
		margin-top: 0;
		font-size: 2.2em;
		font-weight: bold;
	}
	h2{
		font-weight: bold;
		font-size: 2.4em;
		border-top: 1px solid #BBB;
		padding-top: 15px;
		&:first-child{
			border-top: 0;
			padding-top: 0;
		}
	}
	.big-label{
		margin-top: 0;
		font-size: 2.2em;
		font-weight: bold;		
	}
	&>label{
		margin-top: 0;
		font-size: 2.2em;
		font-weight: bold;
	}
	.menu-img{
		height: 100px;
		width: 100px;
		float: left;
	}
	.title{
		font-size: 3em;
		font-weight: bold;
		height: 100px;
		line-height: 100px;
		padding-left: 130px;
		color: #333;
	}
	.notification{
		margin-top: 15px;
		margin-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: $default-box-shadow;
		.text{
			font-size: 1.5em;
			height: 47px;
			line-height: 47px;
		}
		i{
			float: left;
			margin-right: 10px;
			font-size: 2.5em;
			line-height: 47px;
		}
		&:hover{
			box-shadow: $bigger-box-shadow;
		}
	}
	nav{
		ul{
			list-style-type: none;
			padding: 0;
			a{
				color: #333;
				li{
					padding: 15px;
					font-size: 2em;
					box-shadow: $default-box-shadow;
					&:hover{
						box-shadow: $bigger-box-shadow !important;
					}
				}
				&:last-of-type{
					li{
						box-shadow: none;
					}
				}
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.tab-select{
		margin-bottom: 5px;
	}
}
.late{
	border-bottom: 2px solid #FF7373;
}
.page{
	position: absolute;
	width: 100%;
	min-height: 100%;
	.header{
		position: fixed;
		z-index: 100;
		width: 100%;
		background-color: #3097D1;
		color: white;
		padding: 10px;
		font-size: 2em;
		font-weight: bold;
		box-shadow: $default-box-shadow;
		margin: 0;
		h1{
			font-size: 1.1em;
			font-weight: bold;
			margin: 5px;
			display: inline;
		}
		.header-img{
			margin-top: 9px;
			height: 45px;
			img{
				height: 100%;
			}
			&:hover{
				cursor: pointer;
			}
		}
		.header-right{
			position: absolute;
			right: 10px;
			top: 0;
			height: 100%;
		}
		.user-name{
			font-size: 0.5em;
			line-height: 60px;
		}
	}
	.container{
		margin-top: 65px;
		margin-bottom: 10px;
	}
}
.page-left{
	left: -100%;
}
.page-right{
	left: 100%;
}
.page-right-2{
	left: 200%;
}
$page-right-width: 500px;
.page-right-show{
	position: fixed;
	z-index: 400;
	left: 100% !important;
	width: $page-right-width;
	margin-left: -$page-right-width;
	display: block !important;
	padding-right: 10px;
	padding-left: 10px;
	box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
	background: #EEE;
	height: 100%;
	overflow-y: auto;
	.header{
		left: 100%;
		margin-right: -10px;
		margin-left: -$page-right-width;
		width: $page-right-width;
	}
	.container{
		width: 100%;
		overflow-y: auto;
	}
	.filter_submit{
		padding: 10px 37px 10px 25px;
		left: 100%;
		margin-left: -$page-right-width;
		width: auto;
	}
	form.search-form{
		width: 437px;
	}
	.btn-down{
		padding-bottom: 0;
		height: calc(100% - 140px);
	}
}
.btn-down{
	padding-bottom: 75px;
}
.header-btn-large{
	line-height: 60px;
	margin-left: 10px;
	margin-right: 10px;
	&:hover{
		cursor: pointer;
	}
}
.header-btn{
	margin-left: 10px;
	&:hover{
		cursor: pointer;
	}	
}
.filter_submit{
	background: #3097D1 ;
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
a{
	text-decoration: inherit;
	color: inherit;
	&:hover{
		text-decoration: inherit;
		color: inherit;
	}
	&:focus{
		text-decoration: inherit;
		color: inherit;
	}
}
.notes{
	margin-top: 10px;
}
.note-container{
	@media (max-width: $screen-xs-max) {
		&{
			padding: 0 5px;
		}
	}
}
@media (min-width: $screen-lg-min) {
	.container-lg-large{
		width: 90%;
	}
}
$category_colors: ('red', #F84758),
		('blue', #4957C0),
		('green', #77D593),
		('darkgreen', #04A220),
		('yellow', #FFE773),
		('violet', #C638AB),
		('purple', #890389),
		('pink', #E24182),
		('lightorange', #FF9149),
		('darkorange', #FF7A23),
		('limet', #B8F245),
		('aqua', #33A9AF),
		('sand', #FFC249);
.block{
	border-radius: 2px;
	width: 100%;
	padding-bottom: 100%;
}
.small-block{
	border-radius: 2px;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 5px;
	position: relative;
}
.block-selected{
	border: 1px solid #222;
	margin: 0;
	width: 50px;
	height: 50px;
}
.block-none{
	border: 1px solid #888;
	color: #888;
}
.block-none:after{
	font-family: FontAwesome;
	content: "\f05e";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	font-size: 1.5em;
	margin-top: -15px;
}
@each $name, $color in $category_colors {
	.block-#{$name} {
		background: $color;
	}
}
.note{
	position: relative;
	background-color: white;
	height: 140px;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
	padding: 15px;
	padding-top: 50px;
	color: #333;
	&:hover{
		box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
		.note-status{
			box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
		}
	}
	.title{
		font-size: 1.6em;
		padding-right: 5px;
		text-decoration: none;
	}
	@each $name, $color in $category_colors {
		.category-#{$name} {
			border-bottom: 3px solid $color;
		}
	}
	.note-status{
		position: absolute;
		bottom: -15px;
		right: 8px;
		padding: 6px 10px;
		font-size: 0.9em;
		word-spacing: -1px;
		background: #f7f7f7;
		box-shadow: -4px 4px 5px rgba(0,0,0,0.2);
		border-bottom: 3px solid black;
		font-weight: bold;
	}
	.note-status-done{
		border-color: #4D9749;
		color: #4D9749;
	}
	.note-status-opened{
		border-color: #EB8432;
		color: #EB8432;
	}
	.note-status-wip{
		border-color: #FFC249;
		color: #FFC249;		
	}
	.note-status-closed{
		border-color: #525251;
		color: #525251;
	}
	.note-status-late{
		border-color: #A94442;
		color: #A94442;
	}
	.info{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 10px;
		font-size: 0.9em;
		word-spacing: -1px;
		background: #EEE;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		font-weight: bold;
		.deadline{
			font-size: 0.8em;
			margin-top: 2px;
		}
	}
}
.new-note{
	background-color: #0B85C6;
	color: white;
	line-height: 140px;
	text-align: center;
	font-size: 4em;
	padding: 0;
}
.no-padding{
	padding: 0;
}
.no-side-padding{
	padding-left: 0;
	padding-right: 0;
	&>h3{
		margin-left: 10px;
	}
}
.side-padding{
	padding-left: 15px;
	padding-right: 15px;
}
.over{
	display: none;
	z-index: 300;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
}
.login{
	display: none;
	z-index: 400;
	position: fixed;
	top: 50%;
	margin-top: -180px;
	width: 100%;
	max-width: 600px;
	@media (min-width: 600px) {
		left: 50%;
		margin-left: -300px;
	}
	.inner-box{
		margin: 0;
		height: 100%;
		overflow: auto;
		@media (min-width: 600px) {
			.tab-4{
				width: 200px;
			}
		}
	}
}
.par-tregister{
	display: none;
}
.user-menu{
	display: none;
	position: fixed;
	width: 200px;
	right: 40px;
	top: 30px;
	z-index: 200;
	box-shadow: $bigger-box-shadow;
	nav ul{
		margin-bottom: 0;
		a li{
			text-align: center;
			font-size: 1.5em;
			padding: 10px 15px;
			border: $small-border;
			box-shadow: none;
			line-height: 30px;
			&:hover{
				font-size: 1.6em;
				font-weight: bold;
			}
		}
	}
}
.noUi-target{
	margin-left: 20px;
	margin-top: 8px;
}
.clear-input{
	&:hover{
		cursor: pointer;
	}
}
.load-more{
	clear: both;
	display: none;
	&:hover{
		cursor: pointer;
	}
}
.cat-stripe{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
}
@each $name, $color in $category_colors {
	.cat-stripe-#{$name} {
		background: $color;
	}
}
.comments{
	overflow: auto;
	.comment{
		clear: both;
		border: 1px solid #EEE;
		margin-bottom: 10px;
		.comment-header{
			padding: 5px;
			.comment-user-img{
				width: 30px;
				height: 30px;
			}
			background: #EEE;
			.comment-time{
				line-height: 30px;
				margin-right: 5px;
			}
		}
		.comment-text{
			padding: 10px;
		}
	}
}
.sent-message{
	&:hover{
		cursor: pointer;
	}
}

.tab-social{
	padding: 0;
	line-height: 50px;
	font-size: 2em;
	color: white;
}

.tab-facebook{
	background-color: #3A5795;
}

.tab-google{
	background-color: #DC4E41;
}

.social-login{
	clear: left;
	display: none;
}
.flashes{
	margin-left: -15px;
	margin-right: -15px;
	.flash-message{
		padding: 10px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 5px;
		box-shadow: $default-box-shadow;
		@media (max-width: $screen-xs-max) {
			margin-left: 5px;
			margin-right: 5px;
		}
		border-width: 2px;
		border-style: solid;
	}
}
.share-form{
	.show-info{
		height: 34px;
		line-height: 34px;
	}
	.form{
		line-height: 34px;
		clear: both;
		display: none;
	}
}
.new-group{
	input{
		margin-bottom: 15px;
	}
	.input-group{
		margin-top: 5px;
	}
}
.user-name{
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin: 10px 0;
}
.settings-menu{
	padding: 0;
	list-style-type: none;
	li{
		font-size: 1.1em;
		padding: 5px;
		border-bottom: 1px solid #ddd;
		&:hover{
			background: #ddd;
		}
		.fa{
			margin-right: 5px;
		}
	}
}
table.categories{
	td:first-child, th:first-child{
		width: 30px;
	}
	td:last-child, th:last-child{
		width: 130px;
	}
	tbody{
		tr{
			td{
				vertical-align: middle;
			}
		}
	}
}
table.groups{
	td:first-child, th:first-child{
		width: 100%;
	}
	td:nth-child(2){
		vertical-align: middle;
		text-align: center;
	}
	td{
		.btn-group{
			width: 120px;
		}
	}
}
table.users{
	td:first-child, th:first-child{
		img{
			width: 50px;
		}
	}
	td:nth-child(2){
		width: 100%;
	}
	td:nth-child(3){
		text-align: center;
	}
	&>tbody>tr>td{
		vertical-align: middle;
		.btn-group{
			width: 120px;
		}
	}
}
.error-box{
	color: #A94442;
}

.has-error{
	.btn{
		border-color: #a94442;
	}
}
.profile-pic{
	width: 100%;
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
}
.space-right{
	margin-right: 20px;
}