@import 'select';
@import 'datetime_picker';

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$default-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
$bigger-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$small-border: 1px solid rgba(0, 0, 0, 0.2);

*{
    touch-action: pan-y;
}
body{
	background: #EEE;
	overflow-x: hidden;
}
.img-circle{
	border-radius: 50%;
}
.clear{
	clear: both;
}
.container-width{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: $screen-sm-min) { width: 750px; }
	@media (min-width: $screen-md-min) { width: 970px; }
	@media (min-width: $screen-lg-min) { width: 1170px; }
}
.container-small{
	@media (min-width: $screen-sm-min) {
		width: 750px;		
	}
}
.big-btn{
	box-shadow: $default-box-shadow;
	background-color: white;
	border: 0;
	font-size: 2.5em;
	font-weight: bold;
	width: 100%;
}
.inner-box{
	box-shadow: $default-box-shadow;
	background-color: white;
	padding: 10px;
	margin-top: 20px;
	h3{
		margin-top: 0;
		font-size: 2.5em;
		font-weight: bold;
	}
	label{
		margin-top: 0;
		font-size: 2.5em;
		font-weight: bold;
	}
	.menu-img{
		height: 100px;
		width: 100px;
		float: left;
	}
	.title{
		font-size: 3em;
		font-weight: bold;
		height: 100px;
		line-height: 100px;
		padding-left: 130px;
		color: #333;
	}
	.notification{
		margin-top: 15px;
		margin-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: $default-box-shadow;
		.text{
			font-size: 1.5em;
			height: 47px;
			line-height: 47px;
		}
		i{
			float: left;
			margin-right: 10px;
			font-size: 2.5em;
			line-height: 47px;
		}
		&:hover{
			box-shadow: $bigger-box-shadow;
		}
	}
	nav{
		ul{
			list-style-type: none;
			padding: 0;
			a{
				color: #333;
				li{
					padding: 15px;
					font-size: 2em;
					box-shadow: $default-box-shadow;
					&:hover{
						box-shadow: $bigger-box-shadow !important;
					}
				}
				&:last-of-type{
					li{
						box-shadow: none;
					}
				}
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}
.page{
	position: absolute;
	width: 100%;
	min-height: 100%;
	.header{
		position: fixed;
		z-index: 100;
		width: 100%;
		background-color: #3097D1;
		color: white;
		padding: 10px;
		font-size: 3em;
		font-weight: bold;
		box-shadow: $default-box-shadow;
		margin: 0;
		h1{
			font-size: 1.1em;
			font-weight: bold;
			margin: 5px;
		}
		.header-img{
			margin-top: 9px;
			height: 65px;
			img{
				height: 100%;
			}
			&:hover{
				cursor: pointer;
			}
		}
		.header-right{
			position: absolute;
			right: 10px;
			top: 0;
			height: 100%;
		}
		.user-name{
			font-size: 0.5em;
			line-height: 80.8px;
		}
	}
	.container{
		margin-top: 85px;
	}
}
.page-left{
	left: -100%;
}
.page-right{
	left: 100%;
}
$page-right-width: 500px;
.page-right-show{
	position: fixed;
	z-index: 400;
	left: 100% !important;
	width: $page-right-width;
	margin-left: -$page-right-width;
	display: block !important;
	padding-right: 10px;
	padding-left: 10px;
	box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
	background: #EEE;
	height: 100%;
	.header{
		left: 100%;
		margin-right: -10px;
		margin-left: -$page-right-width;
		width: $page-right-width;
	}
	.container{
		width: 100%;
		overflow-y: auto;
		height: calc(100% - 150px);
	}
	.filter_submit{
		padding: 10px 37px 10px 25px;
		left: 100%;
		margin-left: -$page-right-width;
		width: auto;
	}
	form{
		width: 437px;
	}
	.btn-down{
		padding-bottom: 0;
	}
}
.btn-down{
	padding-bottom: 60px;
}
.header-btn-large{
	line-height: 80px;
	margin-left: 10px;
	margin-right: 10px;
	&:hover{
		cursor: pointer;
	}
}
.header-btn{
	&:hover{
		cursor: pointer;
	}	
}
.filter_submit{
	background: #3097D1 ;
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
a{
	text-decoration: inherit;
	color: inherit;
	&:hover{
		text-decoration: inherit;
		color: inherit;
	}
}
.notes{
	margin-top: 10px;
}
.note-container{
	max-width: 350px;
}
@media (min-width: $screen-lg-min) {
	.container-lg-large{
		width: 90%;
	}
}
.note{
	position: relative;
	background-color: white;
	height: 140px;
	padding: 5px;
	box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding: 15px;
	color: #333;
	&:hover{
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
	}
	.title{
		font-size: 1.6em;
		padding-right: 5px;
		text-decoration: none;
	}
	.stripe{
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 45px 45px 0;
		filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.5));
		&::after{
			content: "";
			display: block;
			position: absolute;
			right: -45px;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 25px 25px 0;
			border-color: transparent white transparent transparent;
		}
	}
	.stripe-red{
		border-color: transparent #CC3018 transparent transparent;
	}
	.stripe-blue{
		border-color: transparent #20318B transparent transparent;
	}
	.stripe-green{
		border-color: transparent #12973A transparent transparent;
	}
	.stripe-yellow{
		border-color: transparent #FFF406 transparent transparent;
	}
	.status{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px;
	}
	.status-ok{
		background-color: #77D593;
	}
	.status-closed{
		background-color: grey;
	}
	.status-soon{
		background-color: #FFEF8F;
	}
	.status-late{
		background-color: #FF9E8F;
	}
}
.new-note{
	background-color: #0B85C6;
	color: white;
	line-height: 140px;
	text-align: center;
	font-size: 4em;
	padding: 0;
}
.no-padding{
	padding: 0;
}
.no-side-padding{
	padding-left: 0;
	padding-right: 0;
	&>h3{
		margin-left: 10px;
	}
}
.over{
	display: none;
	z-index: 300;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
}
.user-menu{
	display: none;
	position: fixed;
	width: 200px;
	right: 40px;
	top: 50px;
	z-index: 200;
	box-shadow: $bigger-box-shadow;
	border: $small-border;
	nav ul{
		margin-bottom: 0;
		a li{
			text-align: center;
			font-size: 1.5em;
		}
	}
}