nav.main {
  position: fixed;
  left: -180px;
  width: 200px;
  height: 100%;
  background-color: #515151;
  z-index: 10;
  transition-duration: 500ms; }
  nav.main ul {
    padding: 0;
    margin-top: 10px; }
    nav.main ul li {
      list-style-type: none;
      padding: 0;
      margin-bottom: 10px; }
      nav.main ul li a {
        transition-duration: 200ms;
        position: relative;
        display: block;
        padding: 10px;
        padding-left: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        text-decoration: none;
        color: white;
        font-size: 1.3em;
        font-family: sans-serif; }
        nav.main ul li a:hover {
          background-color: rgba(0, 0, 0, 0.4); }
        nav.main ul li a.active::after {
          background-color: green; }
        nav.main ul li a::after {
          content: "";
          display: block;
          width: 5px;
          height: 100%;
          background: #DFCF34;
          bottom: 0;
          left: 0;
          position: absolute; }
  nav.main::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 100%;
    right: 0;
    bottom: 0;
    background: #DFCF34; }
  nav.main:hover, nav.main.nav_pinned {
    left: 0px; }
    nav.main:hover::after, nav.main.nav_pinned::after {
      display: none; }

body, html {
  height: 100%;
  padding: 0;
  margin: 0; }

header {
  position: relative;
  font-size: 1.5em;
  color: #555555; }
  header h1 {
    margin: 0;
    border-bottom: 1px solid #CCCCCC;
    font-family: sans-serif; }
    @media (min-width: 820px) {
      header h1 {
        text-align: center; } }
  header nav {
    text-align: center;
    margin-top: 5px;
    height: 100%;
    padding-bottom: 3px;
    box-sizing: border-box; }
    header nav a {
      transition-duration: 200ms;
      display: inline-block;
      height: 100%;
      background-color: #66CC66;
      box-sizing: border-box;
      padding: 0 12px;
      line-height: 41px;
      text-decoration: none;
      color: white;
      border: 1px solid #44AA44;
      margin-top: 3px;
      font-family: sans-serif;
      font-size: 0.8em; }
      header nav a:hover {
        background-color: #55BB55; }
    @media (min-width: 500px) {
      header nav {
        position: absolute;
        right: 5px;
        top: 0;
        margin-top: 0; }
        header nav a {
          margin-top: 0; } }

header nav.nav_pinned {
  position: relative;
  margin-top: 5px; }
  @media (min-width: 620px) {
    header nav.nav_pinned {
      position: absolute;
      right: 5px;
      top: 0;
      margin-top: 0; }
      header nav.nav_pinned a {
        margin-top: 0; } }

.content {
  width: 100%;
  position: absolute;
  padding: 10px;
  padding-left: 30px;
  margin: 0;
  z-index: 0;
  transition-duration: 500ms;
  box-sizing: border-box; }
  .content.nav_pinned {
    padding-left: 210px; }
  .content article div.clanek {
    color: #555555;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #FDFDFD;
    border: 1px solid #EAEAEA; }
    .content article div.clanek a {
      text-decoration: none;
      color: #5555AA; }
      .content article div.clanek a h2 {
        border-bottom: 1px solid #BBBBFF;
        margin-top: 0;
        padding-left: 5px; }
    .content article div.clanek:hover {
      background-color: #FAFAFA; }
  @media (min-width: 820px) {
    .content article {
      padding: 5px 5%; } }
  .content article a.button {
    font-family: sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #EAEAEA;
    border: 1px solid #CECECE;
    text-decoration: none;
    font-size: 0.8em;
    color: black; }
    .content article a.button:hover {
      background-color: #DADADA; }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 5px 5px 5px;
  color: #555555;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  background-color: white; }

table.calender {
  border-collapse: collapse; }
  table.calender tr:first-of-type {
    border-bottom: 1px solid #CCCCCC; }
  table.calender td {
    text-align: center;
    padding: 5px; }
    table.calender td.nadpis {
      font-weight: bold; }
    table.calender td.today {
      font-weight: bold; }
    table.calender td.empty {
      background-color: #ECECEC; }

/*# sourceMappingURL=style.css.map */
