.datetime_picker{
	.clear_date{
		font-size: 2em;
		&:hover{
			cursor: pointer;
		}
	}
	input[type='number'] {
		-moz-appearance:textfield;
		text-align: center;
		min-width: 40px;
	}

	input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	.controll{
		text-align: center;
		font-size: 2em;
		&:hover{
			cursor: pointer;
		}
	}
	.head{
		text-align: center;
	}
	.with-end-char{
		input{
			float: left;
			width: 80%;
			margin-right: 5px;
		}
		.end-char{
			display: block;
			font-size: 3em;
			line-height: 39px;
			height: 35px;
		}
		.end-char-colon{
			line-height: 27px;
		}
	}
	.row{
		padding-left: 20px;
		padding-right: 20px;
	}
	.row>*{
		padding-left: 1px;
		padding-right: 1px;
	}
}