body{
	background: #EEE;
	overflow: hidden;
}
.clear{
	clear: both;
}
.page{
	position: absolute;
	width: 100%;
	min-height: 100%;
	transition: 300ms;
	.header{
		background-color: white;
		padding: 10px;
		font-size: 3em;
		font-weight: bold;
		box-shadow: 0 2px 5px rgba(0,0,0,0.2);
		margin: 0;
	}
}
.page-left{
	left: -100%;
}
.page-right{
	left: 100%;
}