* {
  touch-action: pan-y; }

body {
  background: #EEE;
  overflow-x: hidden; }

.clear {
  clear: both; }

@media (min-width: 768px) {
  .container-small {
    width: 750px; } }

.big-btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 0;
  font-size: 2.5em;
  font-weight: bold;
  width: 100%; }

.inner-box {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 10px;
  margin-top: 20px; }
  .inner-box h3 {
    margin-top: 0;
    font-size: 2.5em;
    font-weight: bold; }
  .inner-box label {
    margin-top: 0;
    font-size: 2.5em;
    font-weight: bold; }
  .inner-box .menu-img {
    height: 100px;
    width: 100px;
    float: left; }
  .inner-box .title {
    font-size: 3em;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    padding-left: 130px;
    color: #333; }
  .inner-box .notification {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
    .inner-box .notification .text {
      font-size: 1.5em;
      height: 47px;
      line-height: 47px; }
    .inner-box .notification i {
      float: left;
      margin-right: 10px;
      font-size: 2.5em;
      line-height: 47px; }
    .inner-box .notification:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
  .inner-box nav ul {
    list-style-type: none;
    padding: 0; }
    .inner-box nav ul a {
      color: #333; }
      .inner-box nav ul a li {
        padding: 15px;
        font-size: 2em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
        .inner-box nav ul a li:hover {
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important; }
      .inner-box nav ul a:last-of-type li {
        box-shadow: none; }
      .inner-box nav ul a:hover {
        text-decoration: none; }

.page {
  position: absolute;
  width: 100%;
  min-height: 100%; }
  .page .header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
    padding: 10px;
    font-size: 3em;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0; }
    .page .header h1 {
      font-size: 1.1em;
      font-weight: bold;
      margin: 5px; }
    .page .header .header-img {
      margin-top: 9px;
      height: 65px; }
      .page .header .header-img img {
        height: 100%; }
    .page .header .header-right {
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%; }
    .page .header .user-name {
      font-size: 0.5em;
      line-height: 80.8px; }
  .page .container {
    margin-top: 85px; }

.page-left {
  left: -100%; }

.page-right {
  left: 100%; }

.page-right-show {
  position: fixed;
  left: 60% !important;
  width: 40%;
  display: block !important;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
  background: #EEE;
  height: 100%; }
  .page-right-show .header {
    margin-right: -10px;
    margin-left: -10px;
    width: 40%; }
  .page-right-show .container {
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 150px); }
  .page-right-show .filter_submit {
    padding: 10px 37px 10px 25px;
    left: 60%; }

.header-btn-large {
  line-height: 80px;
  margin-left: 10px;
  margin-right: 10px; }
  .header-btn-large:hover {
    cursor: pointer; }

.filter_submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px 20px; }

a {
  text-decoration: inherit;
  color: inherit; }
  a:hover {
    text-decoration: inherit;
    color: inherit; }

.notes {
  margin-top: 10px; }

.note-container {
  max-width: 350px; }

@media (min-width: 1200px) {
  .container-lg-large {
    width: 90%; } }
.note {
  position: relative;
  background-color: white;
  height: 140px;
  padding: 5px;
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 15px;
  color: #333; }
  .note:hover {
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2); }
  .note .title {
    font-size: 1.6em;
    padding-right: 5px;
    text-decoration: none; }
  .note .stripe {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 45px 45px 0;
    filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.5)); }
    .note .stripe::after {
      content: "";
      display: block;
      position: absolute;
      right: -45px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 25px 25px 0;
      border-color: transparent white transparent transparent; }
  .note .stripe-red {
    border-color: transparent #CC3018 transparent transparent; }
  .note .stripe-blue {
    border-color: transparent #20318B transparent transparent; }
  .note .stripe-green {
    border-color: transparent #12973A transparent transparent; }
  .note .status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px; }
  .note .status-ok {
    background-color: #77D593; }
  .note .status-closed {
    background-color: grey; }
  .note .status-soon {
    background-color: #FFEF8F; }
  .note .status-late {
    background-color: #FF9E8F; }

.new-note {
  background-color: #7D89CB;
  line-height: 140px;
  text-align: center;
  font-size: 4em;
  padding: 0; }

.no-padding {
  padding: 0; }

.no-side-padding {
  padding-left: 0;
  padding-right: 0; }
  .no-side-padding > h3 {
    margin-left: 10px; }

/*# sourceMappingURL=style.css.map */
